@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
	margin: 0px;
}

.header__comp {
	text-align: center;
	background-image: linear-gradient(
			to top,
			rgba(1, 5, 75, 1),
			rgba(23, 54, 228, 0.52)
		),
		url('https://uploads.mwp.mprod.getusinfo.com/uploads/sites/23/2021/06/31459954003_d25a671eac_b.jpg');
	/* background-image: linear-gradient(
			to top,
			rgba(1, 5, 75, 0.99),
      rgba(23, 54, 228, 0.32)
		),
		url('https://www.thoughtco.com/thmb/x0gbUnMlJVIJ6bwF02VQd9gWZu8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/UScap-58c8072e3df78c353c17e961.jpg'); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1500px 1000px;
	height: 1000px;
	margin: 0px;
}

.title {
	font-family: 'Great Vibes', cursive;
	font-size: 10rem;
	font-weight: 300;
	position: relative;
	top: 300px;
	color: rgb(219, 219, 219);
}

.theses__comp {
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 70px;
	background-color: rgb(1, 5, 75);
	height: 50vh;
	color: rgb(219, 219, 219);
	font-size: 5rem;
}

.slide-in {
	transform: translateX(-100%);
	opacity: 0;
	transition: all 1s ease-in-out;
}

.slide-in.visible {
	transform: translateX(0);
	opacity: 1;
}

.collumns__comp {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.slide-in-collumns {
	/* transform: translateX(-100%); */
	opacity: 0;
	transition: all 2.3s ease-in-out;
	color: rgb(219, 219, 219);
	text-align: center;
	font-size: 5rem;
	padding-top: 10rem;
}

.slide-in-collumns.visible {
	transform: translateX(0);
	opacity: 1;
}

.collumn-j {
	padding: 38px;
	margin: 22px 22px 0px;
	font-size: 1.3rem;
	transition: all 0.9s ease-in-out;
	transform: scale(1);
	color: rgb(219, 219, 219);
}

.collumn-j:hover {
	padding: 38px;
	top: 0;
	transform: scale(1.1);
	transform-origin: center;
	background-color: rgba(255, 255, 255, 0.301);
	background-repeat: no-repeat;
	background-size: contain;
	color: rgb(255, 255, 255);
	border-radius: 15px;
}

.collumn-e {
	padding: 38px;
	margin: 22px 22px 0px;
	font-size: 1.3rem;
	transition: all 0.9s ease-in-out;
	transform: scale(1);
	color: rgb(219, 219, 219);
}

.collumn-e:hover {
	padding: 38px;
	top: 0;
	transform: scale(1.1);
	transform-origin: center;
	background-color: rgba(255, 255, 255, 0.301);
	background-repeat: no-repeat;
	background-size: contain;
	color: rgb(255, 255, 255);
	border-radius: 15px;
}

.collumn-l {
	padding: 38px;
	margin: 22px 22px 0px;
	font-size: 1.3rem;
	transition: all 0.9s ease-in-out;
	transform: scale(1);
	color: rgb(219, 219, 219);
}

.collumn-l:hover {
	padding: 38px;
	top: 0;
	transform: scale(1.1);
	transform-origin: center;
	background-color: rgba(255, 255, 255, 0.301);
	background-repeat: no-repeat;
	background-size: contain;
	color: rgb(255, 255, 255);
	border-radius: 15px;
}

.judicial {
	float: left;
	height: 1000px;
	background-color: rgb(1, 5, 75);
	background-image: linear-gradient(
			to bottom,
			rgba(1, 5, 75, 1),
			rgba(23, 54, 228, 0.52),
			rgba(1, 5, 75, 1) 73%
		),
		url('https://media.istockphoto.com/id/1172301402/photo/united-states-supreme-court.jpg?s=612x612&w=0&k=20&c=Wtc2e1X5Z5wgNxQzqQefaWpw8aILj4Fclyy4iKmEK3s=');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 612px;
	width: 33.33%;
	transition: all 0.7s ease-in-out;
}

.judicial:hover {
	transform: scale(1.1);
}

.judicial__details {
	color: rgb(219, 219, 219);
	text-align: center;
	font-size: 5rem;
	padding-top: 10rem;
}

.executive {
	float: middle;
	height: 1000px;
	background-color: rgb(1, 5, 75);
	background-image: linear-gradient(
			to bottom,
			rgba(1, 5, 75, 1),
			rgba(23, 54, 228, 0.52),
			rgba(1, 5, 75, 1) 60%
		),
		url('https://ashbygraff.com/wp-content/uploads/2019/02/clinton-oval-office.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 750px;
	width: 33.33%;
	transition: all 0.7s ease-in-out;
}

.executive:hover {
	transform: scale(1.1);
}

.executive__details {
	color: rgb(219, 219, 219);
	text-align: center;
	font-size: 5rem;
	padding-top: 10rem;
}

.legislative {
	float: right;
	height: 1000px;
	background-color: rgb(1, 5, 75);
	background-image: linear-gradient(
			to bottom,
			rgba(1, 5, 75, 1),
			rgba(23, 54, 228, 0.52),
			rgba(1, 5, 75, 1) 60%
		),
		url('https://images.unsplash.com/photo-1594664034718-c2ecef145dfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbmdyZXNzfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 750px;
	width: 33.33%;
	transition: all 0.7s ease-in-out;
}

.legislative:hover {
	transform: scale(1.1);
}

.legislative__details {
	color: rgb(219, 219, 219);
	text-align: center;
	font-size: 5rem;
	padding-top: 10rem;
}

.transition__comp {
	height: 700px;
	background-image: linear-gradient(
		to bottom,
		rgba(1, 5, 75, 1) 25%,
		rgba(219, 219, 219, 1)
	);
	text-align: center;
}

.title-power {
	color: rgb(219, 219, 219);
	font-size: 25rem;
	padding-top: 35px;
}

.powers__comp {
	height: 2266px;
	background-image: linear-gradient(
		to bottom,
		rgba(219, 219, 219, 1),
		rgba(219, 219, 219, 0),
		rgba(219, 219, 219, 1)
	);

	justify-content: space-evenly;
}

.judicial__powers {
	height: 722px;
	text-align: center;
	padding-top: 20px;
	color: rgba(1, 5, 75, 1);
	font-size: 3rem;
	background-image: linear-gradient(
			to right,
			rgba(219, 219, 219, 1) 40%,
			rgba(219, 219, 219, 0.06)
		),
		linear-gradient(to top, rgba(219, 219, 219, 0), rgba(219, 219, 219, 1) 95%),
		url('https://media.cnn.com/api/v1/images/stellar/prod/221031154056-01-scotus-affirmative-action-sketch.jpg?c=original');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.jpowertext {
	text-align: left;
	padding-left: 30px;
	padding-top: 20px;
	width: 550px;
	padding-right: 30px;
	padding-bottom: 20px;
	font-size: 1.9rem;
	transition: all 0.5s ease-in-out;
}

.jpowertext:hover {
	color: rgb(0, 3, 155);
	background-color: rgba(1, 5, 75, 0.33);
	border-radius: 20px;
}

.jpowerani {
	opacity: 0;
	transition: all 1.5s ease-in-out;
}

.jpowerani.visible {
	opacity: 1;
}

.executive__powers {
	height: 722px;
	text-align: center;
	padding-top: 20px;
	color: rgba(1, 5, 75, 1);
	font-size: 3rem;
	background-image: linear-gradient(
			to right,
			rgba(219, 219, 219, 1) 40%,
			rgba(219, 219, 219, 0.06)
		),
		url('https://obamawhitehouse.archives.gov/sites/default/files/image/image_file/p011614ps-0525.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.epowertext {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.8rem;
	padding-top: 20px;
	width: 550px;
	padding-bottom: 20px;
	transition: all 0.5s ease-in-out;
}

.epowertext:hover {
	color: rgb(0, 3, 155);
	background-color: rgba(1, 5, 75, 0.33);
	border-radius: 20px;
}

.epowerani {
	opacity: 0;
	transition: all 1.5s ease-in-out;
}

.epowerani.visible {
	opacity: 1;
}

.legislative__powers {
	height: 722px;
	text-align: center;
	padding-top: 20px;
	color: rgba(1, 5, 75, 1);
	font-size: 3rem;
	background-image: linear-gradient(
			to right,
			rgba(219, 219, 219, 1) 40%,
			rgba(219, 219, 219, 0.06)
		),
		linear-gradient(
			to bottom,
			rgba(219, 219, 219, 0),
			rgba(219, 219, 219, 1) 95%
		),
		url('https://static.timesofisrael.com/www/uploads/2012/05/Obama_Health_Care_Speech_to_Joint_Session_of_Congress.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.lpowertext {
	text-align: left;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
	width: 550px;
	font-size: 1.8rem;
	transition: all 0.5s ease-in-out;
}

.lpowertext:hover {
	color: rgb(0, 3, 155);
	background-color: rgba(1, 5, 75, 0.33);
	border-radius: 20px;
}

.lpowerani {
	opacity: 0;
	transition: all 1.5s ease-in-out;
}

.lpowerani.visible {
	opacity: 1;
}

.chxnbal__comp {
	height: 775px;
  background-image: linear-gradient(
			to bottom,
			rgba(219, 219, 219, 1),
			rgba(219, 219, 219, 1) 30%
		),
		linear-gradient(to top, rgba(219, 219, 219, 1), rgba(219, 219, 219, 1) 30%),
		linear-gradient(to right, rgba(219, 219, 219, 1), rgba(219, 219, 219, 1) 30%),
		linear-gradient(to left, rgba(219, 219, 219, 1) , rgba(219, 219, 219, 1) 30%),
		url('https://upfront.scholastic.com/content/dam/classroom-magazines/upfront/issues/2019-20/090219/p10-13-checksandbalances/UPF090219-ChecksBalances-thumbnail.jpg');
	text-align: center;
	transition: all 2s ease-in-out
}

.chxnbal__comp:hover {
  background-color: rgba(219, 219, 219, 0.33);
	background-image: linear-gradient(
			to bottom,
			rgba(219, 219, 219, 1),
			rgba(219, 219, 219, 0) 30%
		),
		linear-gradient(to top, rgba(219, 219, 219, 1), rgba(219, 219, 219, 0) 30%),
		linear-gradient(to right, rgba(219, 219, 219, 1), rgba(219, 219, 219, 0) 30%),
		linear-gradient(to left, rgba(219, 219, 219, 1) , rgba(219, 219, 219, 0) 30%),
		url('https://upfront.scholastic.com/content/dam/classroom-magazines/upfront/issues/2019-20/090219/p10-13-checksandbalances/UPF090219-ChecksBalances-thumbnail.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.chxnbaltext {
	padding-top: 0px;
	font-size: 3rem;
	color: rgba(1, 5, 75, 1);
  transition: all 0.5s ease-in-out;
}

.chxnbaltext:hover {
  background-color: rgba(1, 5, 75, 0.33);
  border-radius: 20px;
}

.examples {
	padding-top: 20px;
	font-size: 1.8rem;
	color: rgba(1, 5, 75, 1);
	justify-content: space-between;
}

.comparing__comp {
	height: 1000px;
	background-image: linear-gradient(
    to bottom,
    rgba(219, 219, 219, 1),
    rgba(219, 219, 219, 0)
  ),
  url('https://www.wane.com/wp-content/uploads/sites/21/2022/05/AP090412022437.jpg?strip=1');
	text-align: center;
}

.comparing_title {
  font-size: 7rem;
  color: rgba(1, 5, 75, 1);
}

.comparingtext {
  padding-top: 20px;
  font-size: 3rem;
  color: rgba(1, 5, 75, 1);
  transition: all 0.9s ease-in-out;
}

.comparingtext:hover {
  background-color: rgba(219, 219, 219, 0.33);
  border-radius: 40px;
}
